div#container
	div.nav_devices
		div.panel.panel-default
			div.panel-heading
				h3.panel-title Choose a Device 
			div.panel-body
				div.panel-body
					ul.nav.nav-pills.nav-stacked
						li 
							a(ng-href="#")(ng-repeat="device in devices") {{ device.type }}
			
				div.nav_newdevice
					button.btn.btn-primary.btn-lg(type='button')   New Device
	div.dev
		div.panel.panel-default
				div.panel-heading
					h3.panel-title Device
				div.panel-body
					div.panel-body
						div.device(ng-show="clickdevice") 
							form(role='form')
								div.form-group
									label Select type of device
									select.form-control
										option TV
										option Heater
										option Illumination
										option Other
								div.form-group
									label Select status of device
									select.form-control
										option ON
										option OFF
								div.form-group	
									label(for='exampleInputText') Location of device
									input.form-control(type='text')(placeholder="Location of device, e.g Manu's Bedroom ")(ng-model="data.room")
								button.btn.btn-default(type='submit') Submit

						div.newdevice(ng-show="click_newdevice") 
							form(role='form')
								div.form-group
									label Select type of device
									select.form-control
										option TV
										option Heater
										option Illumination
										option Other
								div.form-group
									label Select status of device
									select.form-control
										option ON
										option OFF

								div.form-group	
									label(for='exampleInputText') Location of device
									input.form-control(type='text')(placeholder="Location of device, e.g Manu's Bedroom ")
								button.btn.btn-default(type='submit') Submit
