div#container
	div.nav_devices
		div.panel.panel-default
			div.panel-heading
				h3.panel-title Choose a Device 
			div.panel-body
				div.panel-body
					ul.nav.nav-pills.nav-stacked
						li 
							a(ng-href="")(ng-repeat="device in devices")(ng-click="selectdev(device)") {{ device.type}}

	div.dev
		div.panel.panel-default
				div.panel-heading
					h3.panel-title(ng-model="devTitle")  {{devTitle}}
				div.panel-body
					div.panel-body(ng-switch on="selection")
						div.device(ng-switch-when="withoutdev") 
							h3 Qualquer coisa
						div.device(ng-switch-when="device")
							form.deviceform(role='form')
								div.device(ng-switch-when="withoutdev")
									h3 dizer qualquer cosia
								div.form-group(name="inputID")
									label(for='exampleInputText') ID of device
									input.form-control(type='text')(ng-model="deviceID")(ng-disabled="true")	
								div.form-group
									label Select type of device
									select#typedev.form-control(ng-model="typemodel",ng-change="updateType()")
										option(value="Tv") TV
										option(value='Heater') Heater
										option(value='Illumination') Illumination
										option(value='Other') Other
								div.form-group
									label Select status of device
									select#status.form-control(ng-model="statusmodel", ng-change="updateStatus()")
										option(value='on') ON
										option(value='off') OFF
								div.form-group
									label Location of device
									select#local.form-control(ng-model="localmodel", ng-change="updateLocal()")
										option(value='kitchen') Kitchen
										option(value='manuroom') Manu's Room
										option(value='rafaelroom') Rafael's Room
										option(value='seixasroom') Seixas' Room
										option(value='zeroom') Zé's Room
								button.btn.btn-default(type='submit') Edit
