div.container.theme-showcase(role="main")
	div.nav-devices
		div.panel.panel-default
			div.panel-heading
				h3.panel-title Choose a Device 
			div.panel-body
				div.panel-body
					ul.nav.nav-pills.nav-stacked
						li(ng-repeat="device in devices",ng-class="{true:'active', false:''}[device.id==devID]", ng-click="selectdev(device.id)")  
							a(ng-href="",ng-class="{true:deviceID, false:''}[device.id==devID]") {{device.name}}

	div.dev
		div.panel.panel-default
				div.panel-heading
					h3.panel-title(ng-model="devTitle")  {{devTitle}}
				div.panel-body
					div.panel-body(ng-switch on="selection")
						div.device(ng-switch-when="withoutdev") 
							h3 Monitor and control your devices
						div.device(ng-switch-when="device")
							form.deviceform(role='form')
								div.info
									div.form-group.left
										label Name of device
										div.input-group
											input.form-control.devname(type='text',ng-model="devname")
											span.input-group-btn
												button.btn.btn-default(type="button",ng-click="updateName()") Submit
									div.form-group.right
										label Select status of device
										select.status.form-control(ng-model="status", ng-change="updateStatus()")
													option(value='on') ON
													option(value='off') OFF
								div.info
									div.form-group.left
										label Analog Sensor Type
										select.analog.form-control(ng-model="analog",ng-disabled="analogTest", ng-change="updateAnalog()")
											option(value='None') None
											option(value='Brightness') Brightness
											option(value='Proximity') Proximity
											option(value='Temperature') Temperature
									div.form-group.right
										label {{analog}}
										input.form-control(type='text',ng-model="analogdata", disabled="disabled")

								div.info
									div.form-group.left
										label Digital Type
										select.digital.form-control(ng-model="digital", ng-change="updateDigital()")
											option(value='None') None
											option(value='irreceiver') IR Receiver
											option(value='irtransmitter') IR Trasmitter
									div.form-group.right
										label Digital Port
										select.digitalport.form-control(ng-model="digitalport", ng-change="upDigitalPort()")
											option(value='enable') Enable
											option(value='disable') Disabled
									
								div.form-group
									label Location of device
									select.local.form-control(ng-model="localmodel", ng-change="updateLocal()")
										option(value='kitchen') Kitchen
										option(value='manuroom') Manu's Room
										option(value='rafaelroom') Rafael's Room
										option(value='seixasroom') Seixas' Room
										option(value='zeroom') Zé's Room
								div.info
									button.btn.btn-default(type="button", ng-click="showOptions()") Options 
						div.device(ng-switch-when="options")
							div
								label Timer ON:
								form.form-inline(role="form")
									label From:
									div.form-group
										input#datetime.form-control(type="datetime-local") 
									label  To:
									div.form-group
										input#datetime.form-control(type="datetime-local")
									button.btn.btn-default(type="submit") Submit
									p
							div 
								label Heater ON:
								form.form-inline(role="form")
									label From:
									div.form-group
										input.form-control(type="Number") 
									label°C To:
									div.form-group
										input.form-control(type="Number")
										label°C
									button.btn.btn-default(type="submit") Submit

