div.dev
		div.panel.panel-default
				div.panel-heading
					h3.panel-title IST Congress Center
				div.panel-body
					div.panel-body
						svg#civil

div#animate.jumbotron(ng-showd="selected")	TESTE